/Btap_Java/java_b4/b5_nhanvien/nbproject/private/
/Btap_Java/java_b4/b5/nbproject/private/
/Btap_Java/java_b4/b5_nhanvien/build/
/Btap_Java/java_b4/b6_nhanvien/nbproject/private/
/Btap_Java/java_b4/b6_nhanvien/build/
/Btap_Java/java_b4/b7_sinhvien/nbproject/private/
/Btap_Java/java_b4/b7_sinhvien/build/
/Btap_Java/java_b4/b8_hinhphang/nbproject/private/
/Btap_Java/java_b4/b9_tiendien/nbproject/private/
/Btap_Java/java_b4/b9_tiendien/build/
/Btap_Java/java_b4/b10 nhan vien/nbproject/private/
/Btap_Java/java_b4/b10 nhan vien/build/
/Btap_Java/java_b4/b11_hoadon/nbproject/private/
/Btap_Java/java_b4/b11_hoadon/build/
/Btap_Java/java_b4/b11_hoadon/dist/
/Btap_Java/java_b4/b12 quan ly kho/nbproject/private/
/Btap_Java/java_b4/b12 quan ly kho/build/
/Btap_Java/java_b4/b12 quan ly kho/dist/
/Btap_Java/java_b8/bai1/nbproject/private/
/Btap_Java/java_b8/bai1/build/
/Btap_Java/java_b8/bai2/nbproject/private/
/Btap_Java/java_b8/bai2/build/
/Btap_Java/java_b4/bai3/nbproject/private/
/Btap_Java/java_b8/bai3/nbproject/private/
/Btap_Java/java_b8/bai3/build/
